USE [master]
GO
/****** Object:  Database [book]    Script Date: 2023/5/29 上午 12:07:18 ******/
CREATE DATABASE [book]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\book.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\book_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [book]
GO
/****** Object:  Table [dbo].[TBook]    Script Date: 2023/5/29 上午 12:07:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBook](
	[ISBN] [int] NOT NULL,
	[BookName] [nvarchar](100) NULL,
	[Author] [nvarchar](100) NULL,
	[Introduction] [nvarchar](300) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBorrowingRecord]    Script Date: 2023/5/29 上午 12:07:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBorrowingRecord](
	[BorrowingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[InventoryId] [int] NULL,
	[BorrowingTime] [datetime] NULL,
	[ReturnTime] [datetime] NULL,
 CONSTRAINT [PK_BorrowingRecord] PRIMARY KEY CLUSTERED 
(
	[BorrowingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TInventory]    Script Date: 2023/5/29 上午 12:07:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TInventory](
	[InventoryId] [int] IDENTITY(100000,1) NOT NULL,
	[ISBN] [int] NULL,
	[StoreTime] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUser]    Script Date: 2023/5/29 上午 12:07:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUser](
	[UserId] [int] IDENTITY(100000,1) NOT NULL,
	[PhoneNumber] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[UserName] [nvarchar](100) NULL,
	[RegistrationTime] [datetime] NULL,
	[LastLoginTime] [datetime] NULL,
	[Privilege] [nvarchar](10) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBorrowingRecord]  WITH CHECK ADD  CONSTRAINT [FK_BorrowingRecord_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[TInventory] ([InventoryId])
GO
ALTER TABLE [dbo].[TBorrowingRecord] CHECK CONSTRAINT [FK_BorrowingRecord_Inventory]
GO
ALTER TABLE [dbo].[TBorrowingRecord]  WITH CHECK ADD  CONSTRAINT [FK_BorrowingRecord_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[TUser] ([UserId])
GO
ALTER TABLE [dbo].[TBorrowingRecord] CHECK CONSTRAINT [FK_BorrowingRecord_User]
GO
ALTER TABLE [dbo].[TInventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Book] FOREIGN KEY([ISBN])
REFERENCES [dbo].[TBook] ([ISBN])
GO
ALTER TABLE [dbo].[TInventory] CHECK CONSTRAINT [FK_Inventory_Book]
GO
USE [master]
GO
